aside {
  position: fixed;
  top: 0;
  left: -100%;
  width: 30rem;
  max-width: 80%;
  height: 100vh;
  background-color: #e9e9e9;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-out;
}

:host([opened]) aside {
  left: 0;
}

header {
  padding: 1rem;
  background-color: #000;
}

header h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
}

header button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  color: #fff;
  background: none;
  font-size: 1.5rem;
}

#tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

#tabs button {
  width: 30%;
  background: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  padding: 0.15rem 0;
}

#tabs button.active,
#tabs button:hover,
#tabs button:active {
  background: black;
  color: white;
}

#tabs button:focus {
  outline: none;
}

#contact-information {
  padding: 0 1rem;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

:host([opened]) #backdrop {
  display: block;
}
